@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }

  ::selection {
    @apply bg-indigo-500/40 text-white;
  }
}

@layer utilities {
  input[type="range"]::-webkit-slider-thumb {
    @apply h-4 w-4 cursor-pointer appearance-none rounded-full bg-indigo-500;
  }

  input[type="range"]::-moz-range-thumb {
    @apply h-4 w-4 cursor-pointer rounded-full border-0 bg-indigo-500;
  }
}

@media print {
  body {
    background: white !important;
    color: black !important;
  }

  .no-print {
    display: none !important;
  }
}
